footer{
    background-color: #511231;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;

}



.contenido-footer{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 5%;
}