
#form {
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%px;
    
}

#contact{
    margin-top: 2%;
}

.contenedor-form{
    background-color: #ffffff7f;
    width: 40%;
    height: auto;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
}
