*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos del inicio */

body{
    background-color: #D56718;
    color: #ffffff;
    font-family: montserrat;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

