
.banner-bloque{
    display: flex;
    justify-content: center;
}

header img .banner {
    width: 100%;
    height: auto;
    display: block;
}

.container-fluid{
    display: flex;
    justify-content: center;

}
