main {
    flex: 1;
}


.carrousel{
    display: flex;
    padding: 30px;
    justify-content: center;

}

.img-carrousel{
    border-radius: 10px;

}

h1 {
    text-align: center;
}

.informacion_importante {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion_importante h2{
    font-size: 40px;
    text-align: center;
}


.informacion_importante p {
    font-size: 20px;
    text-align: center;
}

.img_ceo{
    max-width: 50%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
