
.presupuestos{
    margin: 5%;
}

#titulo-presupuestos{
    margin: 5px;
    padding: 5px;

}

.contenedor-presupuestos{
    display: block;
    background-color: #ffffff7f;
    width: 40%;
    height: auto;
    border-radius: 20px;
    margin: 5%;
    padding: 2%;
}

#pres {
    display: flex;
    justify-content: center;
}